<table>
   <tr>
    <th colspan="3">Failed Puppet nodes</th>
  </tr>
    <tr>
    <td class="sh">Time</td>
    <td class="sh">Node</td>
    <td class="sh">Status</td>
  </tr>
  <% @sorted.each do |node| %>
    <tr class="<%= cycle %>">
        <td><%= node["time"] %></td>
        <td><%= node["node"] %></td>
        <td><%= node["status"] %></td>
      </tr>
  <% end %>
</table>
