<html>
  <head>
    <meta http-equiv="refresh" content="5">
    <title>Bunraku Status Panel</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div id="main">
      <h1><a href="/">Bunraku Status Panel</a></h1>
      <p align="center">
      <a href="/successful">Show successful nodes</a>&nbsp;
       <a href="/failed">Show failed nodes</a>&nbsp;
       <a href="/unchanged">Show unchanged nodes</a>
      </p>
      
      <hr>
      
      <p align="center"> <%= yield %> </p>
      <p align="center"><a href="https://github.com/jamtur01/bunraku">Bunraku <%= Bunraku::Version::VERSION %></a></p>
    </div>
  </body>
</html>
